*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 100%; 
    padding: 34px; 
    margin: auto;
}

.container h1 { 
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 40px;
    background-color:darkcyan;
}

p{
    font-size: 17px;
    text-align: center;
    font-family: 'Sriracha', cursive;
}
input, textarea{
    
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background: rgb(0, 174, 255);
    padding: 8px 22px;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
}
.btn2{
    color: rgb(255, 255, 255);
    background: rgb(0, 174, 255);
    padding: 8px 30px;
    font-size: 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius:40px;
    cursor: pointer;
}
.wrapper {
    text-align: right;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}
.submitMsg{ 
    color: red;
    font-size: 30px;
}
.submitMsgD{ 
    color: rgb(0, 255, 34);
    font-size: 30px;
}
.footer{ 
    position: fixed;       
    bottom: 0px; 
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bolder;
}  
table
{
border-style:groove;
border-width:20px;
border-spacing: 15px;
border-width: 20px;
border-color:rgb(108, 128, 138)
}
.center {
    margin-left: auto;
    margin-right: auto;
    row-gap: 200px;
  }
  td {
    width: 250px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}
